// fonts
$fonts-primary: 'Inter', sans-serif;
$fonts-title: 'Poppins', sans-serif;

//colors
$color-primary: #4B87F4;
$color-primary-dark: #2563eb;
$color-primary-light: #bfdbfe;
$color-primary-bg-light: #dbeafe;
$color-secondary: #425483;
$color-dark: #172B4D;
$color-white: #fff;
$color-white-75: #FFFFFFBF;
$color-gray: #9CA3AF;
$color-gray-dark: #515664;
$color-gray-dark2: #373b46;
$color-gray-light: #e4e6ef;
$color-bg: #f0f5f6;
$color-bg-light: #fafafa;

$color-primary-light2: #dbeafe;

$color-success: #16a34a;
$color-success-dark: #15803d;
$color-success-light: #dbeafe;

$color-info: #0EA5E9;
$color-info-light: #0EA5E925;

$color-warning: #DA700E;
$color-warning-light: #F59E0B25 ;

$color-danger: #DC2626;
$color-danger-light: #DC262625 ;

$color-placeholder: #7e7b82;
$color-input-border: #bae6fd;

$shadow-primary: #dbeafe;
$shadow-white: #F5F3FF35;
