.status-label {
    span {
        padding: 3px 8px;
        font-weight: 400;
        border-radius: 5px;
        &.active {
            color: $color-success;
        }

        &.in-active {
            color: $color-danger;
            border: 1px solid $color-danger;
        }
    }

}
